/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: .8rem;
  height: fit-content;
  width: 80%; 
}

.close-modal {
	color: #fff;
	float: right;
	font-size: 18px;
	font-weight: bold;
	background-color: #6c79db;
	border: none;
	border-radius: 0.2rem;
}

.close-modal:hover,
.close-modal:focus {
	text-decoration: none;
	cursor: pointer;
	background-color: #4b5391;
}

.modal-title{
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-pokemon-name {
	padding: 0;
	text-transform: capitalize;
	color: #000;
	font-size: 2.4rem;
}

.modal-pokemon-number {
	padding: 0;
	text-align: right;
	color: #000;
	margin-right: 2rem;
	font-size: 1.2rem;
}

.modal-pokemon-types {
	padding: 0;
	list-style: none;
}

.modal-pokemon-type{
	color: #fff;
	padding: .25rem .5rem;
	font-size: 0.900rem;
    margin: 0.25rem;
    border-radius: 1rem;
    text-align: center;
	float: left;
}

.modal-img {
	display: flex;
    justify-content: right;
}

.modal-img img{
	padding: 0;
	height: 300px;
}

.modal-poke-stats {
	filter: brightness(1.1);
	border-radius: .8rem;
	display: flex;
}

.modal-pokemon-stats {
	margin: 1rem;
	text-transform: capitalize;	
	list-style: none;
	color: #000;
	padding: 0;
}

.stats-li {
	display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    max-width: 90%;
    align-content: space-between;
}

.stats-li>p {
	justify-self: right;
	white-space: nowrap;
	width: 85.27px;
	text-align: right;
}

.stats-bar {
	padding: .1rem;
	height: 18px;
	width: 100%;
	margin: 0 1rem 0 1.5rem;
	filter: brightness(1.1);
}

.stats-bar>div {
	background-color: #fff;
	height: 14px;
	border-bottom-right-radius: 1rem;
	max-width: 100%;
}

@media screen and (min-width: 380px) {
	.modal-content {
		width: 80%; 
	}
}

@media screen and (min-width: 576px) {
	.modal-content {
		width: 60%; 
	}
}

@media screen and (min-width: 992px) {
	.modal-content {
		width: 50%; 
	}
}